<div class="row">
<div class="col-md-12">
   <tabset>
   	<tab active="tabsPersonal0.active" disable="tabsPersonal0.disabled" ng-show="RegisterMode!='Edit'">
  		<tab-heading>
  				{{tabsPersonal0.tittle}}
  		</tab-heading>
  		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{'PROF_TAB_INTRO_DETALLE'| translate}}</h3>
		  </div>
		  <div class="panel-body">
		  Cordial saludo,
		  <br>
		  La Secretaría Departamental de Salud del Cauca ha desarrollado esta plataforma con el fin de 
		  mejorar el proceso de registro de registro de Talento Humano en Salud del Departamento del Cauca, siguiendo la resolución 3030 de 2014.  le pedimos a usted, hacer buen uso de la plataforma y registrar la información real que se está solicitando.
		  reiteramos que el uso de la información registrada a continuación se utilizará solo para fines de registro cumplimento a la ley, reporte al ministerio de salud y demas disposiciones en cumplimiento de la Ley 1581 de 2012 y del Decreto 1377 de 2013.
		  <br>
		  <br>
		  <div class="alert alert-info" role="alert">
			  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
			   <input type="checkbox" ng-click="agreeinformation()" {{nextagree==1?'disabled':''}}>
			  Usted acepta las condiciones expuestas previamente.
			</div>
					   
			<nav>
			  <ul class="pager" ng-show='conditionacepted'>
			    <li class="next"><a ng-click="next(0)">{{'NEXT' | translate}} <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
		  </nav>

		   
		  </div>
		</div>
	</tab>



    <tab  active="tabsPersonal1.active" disable="tabsPersonal1.disabled" select='validation(1)'>
    <tab-heading>
    	{{tabsPersonal1.tittle}}
    </tab-heading>
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{'PROF_TAB_PERSONAL_DESC'| translate}} </h3>
  </div>
  <div class="panel-body">
    		<div class="row">
				<div class="col-md-6">
					<label  for="hptipdoc" class="{{ValidationField.hptipdoc.active?'label label-danger':''}}">{{ 'PROF_DOC_TYPE' | translate }} </label>
		    		<hs-optionlist namelist='tipdoc' preload='{{DataPersonal.hptipdoc}}'></hs-optionlist>
				</div>
				<div class="col-md-6 form-group {{ValidationField.hpnumdoc.active?'has-error':''}}">
				   	<label class="control-label"  for="numdoc">{{ 'PROF_DOC' | translate }} </label>
		    		<input type="text" class="form-control" ng-model="DataPersonal.hpnumdoc" ng-blur="findProfessional()" id="numdoc" required=""/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group {{ValidationField.hppriape.active?'has-error':''}}" >
				   	<label class="control-label"  for="priape">{{ 'PROF_PRIAPE' | translate }} </label>
		    		<input type="text" class="form-control" ng-change="DataPersonal.hppriape=DataPersonal.hppriape.toUpperCase();" ng-model="DataPersonal.hppriape" id="priape" required=""/>
				</div>
				<div class="col-md-6 form-group {{ValidationField.hpsegape.active?'has-error':''}}">
				   	<label class="control-label"  for="segape">{{ 'PROF_SEGAPE' | translate }} </label>
		    		<input type="text" class="form-control" ng-change="DataPersonal.hpsegape=DataPersonal.hpsegape.toUpperCase();" ng-model="DataPersonal.hpsegape" id="segape" required=""/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 {{ValidationField.hpprinom.active?'has-error':''}}">
				   	<label class="control-label"  for="prinom" >{{ 'PROF_PRINOM' | translate }} </label>
		    		<input type="text" class="form-control"  ng-change="DataPersonal.hpprinom=DataPersonal.hpprinom.toUpperCase();" ng-model="DataPersonal.hpprinom" id="prinom" required=""/>
				</div>
				<div class="col-md-6 {{ValidationField.hpsegnom.active?'has-error':''}}">
				   	<label class="control-label"  for="segnom">{{ 'PROF_SEGNOM' | translate }} </label>
		    		<input type="text" class="form-control"  ng-change="DataPersonal.hpsegnom=DataPersonal.hpsegnom.toUpperCase();" ng-model="DataPersonal.hpsegnom" id="segnom" required=""/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				   	<label for="sexo" class="{{ValidationField.hpsexo.active?'label label-danger':'control-label'}}">{{ 'PROF_SEXO' | translate }} </label>
		    		<hs-optionlist namelist='sexo' preload='{{DataPersonal.hpsexo}}'></hs-optionlist>
				</div>
				<div class="col-md-6 {{ValidationField.hpfecnac.active?'has-error':''}}">
				   	<label for="fecnac" class="">{{ 'PROF_FECNAC' | translate }} (AAAA-MM-DD) </label>
		    		<input type="text" class="form-control" id="fecnac" ng-model="DataPersonal.hpfecnac" ng-change="DataPersonal.hpfecnac=maskDate(DataPersonal.hpfecnac,'-',[4,2,2],true)" placeholder='Escribe fecha con formato AAAA-MM-DD '  />
		         </div>
			</div>
    		<div class="row">
				<div class="col-md-6">
				   	<label for="colombiano">{{ 'PROF_COLOMBIANO' | translate }} </label>
		    		<br>
		    		<div class="btn-group" data-toggle="buttons">
						<button type="button" ng-click="nacionalidad(0,'nacionalidad','pais,departamento,municipio')" class="btn {{colombiano.nacionalidad==0?' btn-primary':' btn-default'}}">Si</button>
				    	<button type="button" ng-click="nacionalidad(1,'nacionalidad','pais,departamento,municipio')" class="btn {{colombiano.nacionalidad==0?' btn-default':' btn-primary'}}">No</button>
					</div>
				</div>
				<div class="col-md-6"  ng-show="colombiano.nacionalidad==1?true:false" >
				   	<label for="pais" class="{{ValidationField.hppais.active?'label label-danger':''}}">{{'PROF_PAIS' | translate }} </label>
		    		 <d2-dropdownoptionset tittleoption='pais' resource='country' preload='{{DataPersonal.hppais}}'></d2-dropdownoptionset>
				</div>
			</div>
			<div class="row" ng-show="colombiano.nacionalidad==0?true:false">
				<div class="col-md-6">
				   	<label  for="depto" class="{{ValidationField.hpdepnac.active?'label label-danger':''}}">{{ 'PROF_DEPARTAMENTO' | translate }} </label>
		    		 <d2-dropdownoptionset tittleoption='departamento' resource='department' preload='{{DataPersonal.hpdepnac}}'></d2-dropdownoptionset>
				</div>
				<div class="col-md-6">
				   	<label for="municipio" class="{{ValidationField.hpmunnac.active?'label label-danger':''}}">{{ 'PROF_MUNICIPIO' | translate }} </label>
		    		 <d2-dropdownoptionset tittleoption='municipio' resource='municipality' parent='departamento' preload='{{DataPersonal.hpmunnac}}'></d2-dropdownoptionset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
				   	<label for="etnia" class="{{ValidationField.hpetnia.active?'label label-danger':''}}">{{ 'PROF_ETNIA' | translate }} </label>
		    		<hs-optionlist namelist='etnia' preload='{{DataPersonal.hpetnia}}'></hs-optionlist>
				</div>				
			</div>
			<br>
		  <nav>
			  <ul class="pager">
			    <li class="next"><a ng-click="next(1)">{{'NEXT' | translate}} <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
		  </nav>


	  </div>
	</div>
		    
    </tab>
    <tab heading="{{tabsPersonal2.tittle}}"  active="tabsPersonal2.active" disable="tabsPersonal2.disabled" select='validation(2)'>
    	
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{'PROF_TAB_PERSONALADD_DESC'| translate}} {{tab.name}}</h3>
		  </div>
		  <div class="panel-body">
	    	
			
			<div class="row">
					<div class="col-md-6">
					   	<label for="etnia" class="{{ValidationField.hpdestcon.active?'label label-danger':'control-label'}}">{{ 'PROF_ESTADOCONYUGAL' | translate }} </label>
			    		<hs-optionlist namelist='conyugal' preload='{{DataPersonalAdd.hpdestcon}}'></hs-optionlist>
					</div>

					<div class="col-md-6">
					   	<label class="control-label"  for="colombiano">{{ 'PROF_lIVEIN' | translate }} </label>
			    		<br>

			    		<div class="btn-group" data-toggle="buttons">
							<button type="button" ng-click="nacionalidad(0,'residencia','paisred,departamentored,municipiored')" class="btn {{colombiano.residencia==0?' btn-primary':' btn-default'}}">Si</button>
					    	<button type="button" ng-click="nacionalidad(1,'residencia','paisred,departamentored,municipiored')" class="btn {{colombiano.residencia==0?' btn-default':' btn-primary'}}">No</button>
						</div>
					</div>
			</div>
			<div class="row">
	
				<div class="col-md-6"  ng-show="colombiano.residencia==1?true:false">
				   	<label class="control-label"  for="pais" class="{{ValidationField.hpdpaisred.active?'label label-danger':''}}">{{'PROF_PAISRED' | translate }} </label>
		    		 <d2-dropdownoptionset tittleoption='paisred' resource='country' preload='{{DataPersonalAdd.hpdpaisred}}'></d2-dropdownoptionset>
				</div>
			</div>
			<div class="row" ng-show="colombiano.residencia==0?true:false">
				<div class="col-md-6">
				   	<label for="depto" class="{{ValidationField.hpddepred.active?'label label-danger':'control-label'}}">{{ 'PROF_DEPARTAMENTORED' | translate }} </label>
		    		 <d2-dropdownoptionset tittleoption='departamentored' resource='department' preload='{{DataPersonalAdd.hpddepred}}'></d2-dropdownoptionset>
				</div>
				<div class="col-md-6">
				   	<label for="municipio" class="{{ValidationField.hpdmunred.active?'label label-danger':'control-label'}}">{{ 'PROF_MUNICIPIORED' | translate }} </label>
		    		 <d2-dropdownoptionset tittleoption='municipiored' resource='municipality' preload='{{DataPersonalAdd.hpdmunred}}' parent="departamentored"></d2-dropdownoptionset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 {{ValidationField.hpddirecc.active?'has-error':''}}">
				   	<label class="control-label"  for="Direccion">{{ 'PROF_DIRECCIONRED' | translate }} </label>
		    		<input type="text" class="form-control" ng-change="DataPersonalAdd.hpddirecc=DataPersonalAdd.hpddirecc.toUpperCase();" ng-model="DataPersonalAdd.hpddirecc" id="Dirección" required=""/>
				</div>
				<div class="col-md-6 {{ValidationField.hpdtelef.active?'has-error':''}}">
				   	<label class="control-label"  for="Telefono">{{ 'PROF_TELEFONORED' | translate }} </label>
		    		<input type="text" class="form-control" ng-model="DataPersonalAdd.hpdtelef" id="Telefono" required="" placeholder="Escriba el numero de telefono Ejm: 8233332"/>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 {{ValidationField.hpdtelmov.active?'has-error':''}}">
				   	<label class="control-label"  for="Movil">{{ 'PROF_MOVIL' | translate }} </label>
		    		<input type="text" class="form-control" ng-model="DataPersonalAdd.hpdtelmov" id="TelefonoCel" required="" placeholder="Escriba el numero de telefono Ejm: 3112233445"/>
				</div>
				<div class="col-md-6 {{ValidationField.hpdcorreo.active?'has-error':''}}">
				   	<label class="control-label"  for="Correo">{{ 'PROF_CORREO' | translate }} </label>
		    		<input type="text" class="form-control" ng-model="DataPersonalAdd.hpdcorreo" id="Correo" required="" placeholder="Escriba un correo como tuemail@serviciomail.com"/>
				</div>			
			</div>



	    	<br>
			  <nav>
				  <ul class="pager">
				    <li class="previous"><a ng-click="next(0)"><span aria-hidden="true">&larr;</span> {{'PREV' | translate}}</a></li>
				    <li class="next"><a ng-click="next(2)">{{'NEXT' | translate}} <span aria-hidden="true">&rarr;</span></a></li>
				  </ul>
			  </nav>
		</div>
	</div>
    </tab>
    <tab heading="{{tabsPersonal3.tittle}}" active="tabsPersonal3.active" disable="tabsPersonal3.disabled" select='validation(3)'>
    		
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{'PROF_TAB_STUDY_DESC'| translate}} {{tab.name}}</h3>
		  </div>
		  <div class="panel-body">
		  		<div class="row">
		  			 <div class="col-md-6">
					   	<label   for="origentitulo" class="{{ValidationField.hpeorigtit.active?'label label-danger':'control-label'}}">{{ 'PROF_EST_ORIGEN' | translate }} </label>
			    		<br>

			    		<div class="btn-group" data-toggle="buttons">
							<button type="button" ng-click="estudios(1,'paisin,departamentoin,municipioin,institution,program')" class="btn {{Study.hpeorigtit==1?' btn-primary':' btn-default'}}">en Colombia</button>
					    	<button type="button" ng-click="estudios(2,'paisin,departamentoin,municipioin,institution,program')" class="btn {{Study.hpeorigtit==1?' btn-default':' btn-primary'}}">en el exterior</button>
						</div>
					</div>
					<div class="col-md-6 {{ValidationField.hpefecgrad.active?'has-error':''}}">
					   	<label   for="fecgrad">{{ 'PROF_FEC_GRADO' | translate }} (AAAA-MM-DD) </label>
			    		<input type="text" class="form-control" ng-model="Study.hpefecgrad"  id="fecgrad" ng-change="Study.hpefecgrad=maskDate(Study.hpefecgrad,'-',[4,2,2],true)" placeholder='Escribe fecha con formato AAAA-MM-DD ' />
			             
					</div>		  			 
				</div>
				<div class="row" ng-show="Study.hpeorigtit==2?true:false">
					<div class="col-md-6">
					   	<label  for="paisin" class="{{ValidationField.hpepaisin.active?'label label-danger':'control-label'}}">{{ 'PROF_PAISIN' | translate }} </label>
			    		 <d2-dropdownoptionset tittleoption='paisin' resource='country' preload='{{Study.hpepaisin}}'></d2-dropdownoptionset>
					</div>
				</div>
				<div class="row" ng-show="Study.hpeorigtit==1?true:false">
					<div class="col-md-6">
					   	<label  for="deptoin" class="{{ValidationField.hpedepin.active?'label label-danger':'control-label'}}">{{ 'PROF_DEPARTAMENTOIN' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='departamentoin' resource='department' preload='{{Study.hpedepin}}'></d2-dropdownoptionset>
					</div>
					<div class="col-md-6">
					   	<label for="munin" class="{{ValidationField.hpemunin.active?'label label-danger':'control-label'}}">{{ 'PROF_MUNICIPIOIN' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='municipioin' resource='municipality' parent='departamentoin' preload='{{Study.hpemunin}}'></d2-dropdownoptionset>
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-6">
					   	<label  for="tipoinstitucion" class="{{ValidationField.hpetipin.active?'label label-danger':'control-label'}}">{{ 'PROF_EST_TYPEIN' | translate }} </label>
			    		<hs-optionlist namelist='tipoinstitucion' preload='{{Study.hpetipin}}'></hs-optionlist>
					</div>
					<div class="col-md-6" ng-show="Study.hpeorigtit==1?true:false">
					   	<label for="institution" class="{{ValidationField.hpecodin.active?'label label-danger':''}}">{{ 'PROF_EST_INSTITUTION' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='institution' resource='institution' parent='municipioin' preload='{{Study.hpecodin}}'></d2-dropdownoptionset>
					</div>
				</div>
				<div class="row" >
					
					 <div class="col-md-6">
					   	<label   for="tipoprograma" class="{{ValidationField.hpetippr.active?'label label-danger':'control-label'}}">{{ 'PROF_EST_TYPE' | translate }} </label>
			    		<hs-optionlist namelist='tipoprograma' preload='{{Study.hpetippr}}'></hs-optionlist>
					</div>
					<div class="col-md-6" ng-show="Study.hpeorigtit==1?true:false">
					   	<label  for="program" class="{{ValidationField.hpecodpr.active?'label label-danger':'control-label'}}">{{ 'PROF_EST_PROGRAM' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='program' resource='program' parent="institution" preload='{{Study.hpecodpr}}'></d2-dropdownoptionset>
					</div>
				</div>	
				<div class="row" ng-show="Study.hpeorigtit==2?true:false">
					<div class="col-md-6 {{ValidationField.hpenumconv.active?'has-error':''}}" >
					   	<label class="control-label"  for="numconv">{{ 'PROF_NUM_CONV' | translate }} </label>
			    		<input type="text" class="form-control" ng-model="Study.hpenumconv" id="numconv" required=""/>
					</div>
					<div class="col-md-6 {{ValidationField.hpegruptit.active?'has-error':''}}">
					   	<label class="control-label"  for="titGrup">{{ 'PROF_TIT_GRUP' | translate }} </label>
			    		<input type="text" class="form-control" ng-model="Study.hpegruptit" id="titGrup" required=""/>
					</div>
				</div>
				<div class="row" ng-show="Study.hpeorigtit==2?true:false">
					<div class="col-md-6 {{ValidationField.hpefecconv.active?'has-error':''}}">
					   	<label   for="fecnac">{{ 'PROF_FEC_CONV' | translate }} </label>
			    		<input type="text" class="form-control"  ng-model="Study.hpefecconv" ng-change="Study.hpefecgrad=maskDate(Study.hpefecgrad,'-',[4,2,2],true)" />
			    

					</div>
					<div class="col-md-6 {{ValidationField.hpetitequi.active?'has-error':''}}">
					   	<label class="control-label"  for="titEqui">{{ 'PROF_TIT_EQUI' | translate }} </label>
			    		<input type="text" class="form-control" ng-model="Study.hpetitequi" id="titEqui" required=""/>
					</div>
				</div>
			
	    	<br>
		  <nav>
			  <ul class="pager">
			    <li class="previous"><a ng-click="next(1)"><span aria-hidden="true">&larr;</span> {{'PREV' | translate}}</a></li>
			    <li class="next"><a ng-click="next(3)">{{'NEXT' | translate}} <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
		  </nav>
		</div>
	</div>  
    </tab>
    <tab heading="{{tabsPersonal4.tittle}}" active="tabsPersonal4.active" disable="tabsPersonal4.disabled" select='validation(4)'>
    		
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{'PROF_TAB_SERVICE_DESC'| translate}} {{tab.name}}</h3>
		  </div>
		  <div class="panel-body">
				<div class="row">
		  			 <div class="col-md-6">
					   	<label  class="{{ValidationField.hpsobliga.active?'label label-danger':'control-label'}}"  for="serviciooblig">{{ 'PROF_SERVICIO' | translate }} </label>
					   	<br>
			    		<div class="btn-group" data-toggle="buttons">
							<button type="button" ng-click="prestosso(1,'paisss,departamentoss,municipioss,modalidad,programa')" class="btn {{obligService.hpsobliga==1?' btn-primary':' btn-default'}}">Lo prestó</button>
					    	<button type="button" ng-click="prestosso(2,'paisss,departamentoss,municipioss,modalidad,programa')" class="btn {{obligService.hpsobliga==2?' btn-primary':' btn-default'}}">Fue exento</button>
					    	<button type="button" ng-click="prestosso(3,'paisss,departamentoss,municipioss,modalidad,programa')" class="btn {{obligService.hpsobliga==3?' btn-primary':' btn-default'}}">Fue exonerado</button>
						</div>
					</div>
					<div class="col-md-6" ng-show="obligService.hpsobliga==1?true:false">
					   	<label class="{{ValidationField.hpstiplug.active?'label label-danger':'control-label'}}" for="tipolugarservicio">{{ 'PROF_SER_TYPE' | translate }} </label>
					   	<br>
			    		<div class="btn-group" data-toggle="buttons">
							<button type="button" ng-click="lugarsso(1,'paisss,departamentoss,municipioss,modalidad,programa')" class="btn {{obligService.hpstiplug==1?' btn-primary':' btn-default'}}">en Colombia</button>
					    	<button type="button" ng-click="lugarsso(2,'paisss,departamentoss,municipioss,modalidad,programa')" class="btn {{obligService.hpstiplug==1?' btn-default':' btn-primary'}}">en el exterior</button>
						</div>
					</div>
				</div>
				<div class="row" ng-show="(obligService.hpsobliga==1 && obligService.hpstiplug==2)?true:false">
					<div class="col-md-6">
					   	<label  class="{{ValidationField.hpspaispr.active?'label label-danger':'control-label'}}" for="paisss">{{ 'PROF_PAISSER' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='paisss' resource='country' preload='{{obligService.hpspaispr}}'></d2-dropdownoptionset>
					</div>					
				</div>
				<div class="row" ng-show="(obligService.hpsobliga==1 && obligService.hpstiplug==1)?true:false">
					<div class="col-md-6" >
					   	<label class="{{ValidationField.hpsdeppr.active?'label label-danger':'control-label'}}"  for="departamentoss">{{ 'PROF_DEPARTAMENTOSER' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='departamentoss' resource='department' preload='{{obligService.hpsdeppr}}'></d2-dropdownoptionset>
					</div>
					<div class="col-md-6">
					   	<label class="{{ValidationField.hpsmunpr.active?'label label-danger':'control-label'}}"   for="municipioss">{{ 'PROF_MUNICIPIOSER' | translate }} </label>
			    		<d2-dropdownoptionset tittleoption='municipioss' resource='municipality' parent='departamentoss' preload='{{obligService.hpsmunpr}}'></d2-dropdownoptionset>
					</div>					
				</div>
				<div class="row" ng-show="obligService.hpsobliga==1?true:false">
					<div class="col-md-6 {{ValidationField.hpsfecini.active?'has-error':''}}">
					   	<label class=""  for="fecini">{{ 'PROF_SER_FECINI' | translate }} (AAAA-MM-DD) </label>
			    		 <input type="text" class="form-control" ng-model="obligService.hpsfecini" ng-change="obligService.hpsfecini=maskDate(obligService.hpsfecini,'-',[4,2,2],true)" placeholder='Escribe fecha con formato AAAA-MM-DD ' />			              

					</div>
					<div class="col-md-6 {{ValidationField.hpsfecfin.active?'has-error':''}}" ng-show="obligService.hpsobliga==1?true:false">
					   	<label  for="fecfin">{{ 'PROF_SER_FECFIN' | translate }} (AAAA-MM-DD)</label>
			    		<input type="text" class="form-control" ng-model="obligService.hpsfecfin" ng-change="obligService.hpsfecfin=maskDate(obligService.hpsfecfin,'-',[4,2,2],true)" placeholder='Escribe fecha  con formato AAAA-MM-DD '  />          

					</div>
				</div>
				<div class="row" ng-show="obligService.hpsobliga==1?true:false">
		  			 <div class="col-md-6">
					   	<label class="{{ValidationField.hpsmodal.active?'label label-danger':'control-label'}}"   for="modalidad">{{ 'PROF_SERV_MOD' | translate }} </label>
			    		<hs-optionlist namelist='modalidad' preload='{{obligService.hpsmodal}}'></hs-optionlist>
					</div>
					<div class="col-md-6">
					   	<label class="{{ValidationField.hpsprog.active?'label label-danger':'control-label'}}"  for="programa">{{ 'PROF_SER_TYPE' | translate }} </label>
			    		<hs-optionlist namelist='programa' preload='{{obligService.hpsprog}}'></hs-optionlist>
					</div>
				</div>
	    	<br>
		  <nav>
			  <ul class="pager">
			    <li class="previous"><a ng-click="next(2)"><span aria-hidden="true">&larr;</span> {{'PREV' | translate}}</a></li>
			    <li class="next"><a ng-click="next(4)">{{'NEXT' | translate}} <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
		  </nav>
		 </div>
	</div>
    </tab>
    <tab heading="{{tabsPersonal5.tittle}}" active="tabsPersonal5.active" disable="tabsPersonal5.disabled" select='validation(5)'>
    		
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{'PROF_TAB_RESUME_DESC'| translate}} {{tab.name}}</h3>
		  </div>
		  <div class="panel-body">
		 	  <div ng-show="!showtoken">
		 	 <h3 class="text-center">{{tabsPersonal1.tittle}} </h3>
		 	 <table class="table table-hover">
              <tr>
                <th>Atributo</th>
                <th>Valor</th>
              </tr>
              <tr ng-repeat="dp in DataPersonalR">
                <th>{{dp.label}}</th>
                <td>{{dp.value}}</td>    

              </tr>
          </table>
          <br>
           <h3 class="text-center">{{tabsPersonal2.tittle}} </h3>
		 	 <table class="table table-hover">
              <tr>
                <th>Atributo</th>
                <th>Valor</th>
              </tr>
              <tr ng-repeat="dpa in DataPersonalAddR">
                <th>{{dpa.label}}</th>
                <td>{{dpa.value}}</td>    

              </tr>
          </table>
          <br>
            <h3 class="text-center">{{tabsPersonal3.tittle}} </h3>
		 	 <table class="table table-hover">
              <tr>
                <th>Atributo</th>
                <th>Valor</th>
              </tr>
              <tr ng-repeat="st in StudyR">
                <th>{{st.label}}</th>
                <td>{{st.value}}</td>    

              </tr>
          </table>
          <br>
 		  <h3 class="text-center">{{tabsPersonal4.tittle}} </h3>
		 	 <table class="table table-hover">
              <tr>
                <th>Atributo</th>
                <th>Valor</th>
              </tr>
              <tr ng-repeat="so in obligServiceR">
                <th>{{so.label}}</th>
                <td>{{so.value}}</td>    

              </tr>
          </table>
          <br>

	    	<br>
		  <nav>
			  <ul class="pager">
			    <li class="previous"><a ng-click="next(3)"><span aria-hidden="true">&larr;</span> {{'PREV' | translate}}</a></li>
			    <li class="next text-right" ng-show="RegisterMode=='Register'?'true':false">
			    	<button type="button" class="btn btn-primary" ng-click="sendforms()" aria-label="Left Align">
					  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {{'SAVE' | translate}}
					</button>
			    </li>
			    <li class="next text-right" ng-show="RegisterMode=='Edit'?'true':false">
			    	<button type="button" class="btn btn-primary" ng-click="updateforms()" aria-label="Left Align">
					  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {{'UPDATE' | translate}}
					</button>
			    </li>
			  </ul>
		  </nav>
		 </div>
		 <div ng-show="showtoken">
		 	<div class="row">
		 	<div class="col-sm-4">
		 	</div>
			  <div class="col-sm-4">
			    <div class="thumbnail">
			      <img src="img/Ok.png" alt="Registro de profesional">
			      <div class="caption" ng-show="RegisterMode=='Register'?'true':false">
			        <h4>Registro correcto</h4>
			        <p>El Registro se completo exitosamente, gracias por usar este servicio y tenga en cuenta que debe llevar los documentos originales a la ofina de registro de diplomas ubicada en la Secretaría Departamental de Salud</p>
			        <p>Su codigo de registro es</p>
			        <div class="well"><h2 class="text-center">{{tokenForUser}}</h2></div>
			        <ul class="pager"><li class="previous"><a href="/view#/index"><span aria-hidden="true">&larr;</span> Regresar</a></li> </ul>
			      </div>
			      <div class="caption" ng-show="RegisterMode=='Edit'?'true':false">
			        <h4>Actualización de datos correcta</h4>
			        <p>Actualización de datos se realizó exitosamente</p>
			        <p>El codigo de registro del usuario es</p>
			        <div class="well"><h2 class="text-center">{{tokenForUser}}</h2></div>
			        <ul class="pager"><li class="previous"><a href="/view#/adminaccess"><span aria-hidden="true">&larr;</span> Regresar</a></li> </ul>
			      </div>
			    </div>
			  </div>
			<div class="col-sm-4">
		 	</div>
			 </div>

		 </div>
	 </div>
	</div>
    </tab>
   	<div class="text-right" ng-show="RegisterMode=='Edit'?'true':false">
	  	<a class ='btn btn-success' href="/view#/adminaccess">
	  	<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
	  	Regresar a la Lista
	  	</a>
  	</div>
  </tabset>
</div>
</div>


<script type="text/ng-template" id="ModalAlertValidation.html">
    <div class="modal-header">
        <h3 class="modal-title">{{'PROF_TAB_ERROR'| translate}}</h3>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{alert.msg}}
			</alert>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-show="!ifsubreg" ng-click="ok()">{{'PROF_TAB_ERROR_RETURN'| translate}}</button>
        <a class="btn btn-default" ng-show="ifsubreg" ng-click="ok()" href="/view#/index">{{'PROF_TAB_ERROR_RETURN'| translate}}</a>
    </div>
</script>




 