<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Buscar persona registrada</div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="valueToFind" placeholder="Escribe el nombre o documento de la persona">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="findPerson(valueToFind)">Buscar</button>
             </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/adminaccess" ng-click='openmodalRegisterActo(hp.hpid,0)'>Generar planos</a></li>
                <li class="active"><a href="#/adminaccess" ng-click="loadList()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
                <li class="active"><a href="#/adminaccess" ng-click="shutdown()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
            </ul>

        </div>
    </div>
</nav>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<table class="table table-hover">
<tr>
  <th>Documento</th>
  <th>Nombre</th>
  <th>Acto</th>
  <th>Fecha Acto</th>
  <th>Ver/editar o Registrar Acto</th>
</tr>
<tr ng-repeat="hp in ListProfessional" class="{{hp.actAdm.acto==''?'warning':''}}">
  <td>{{hp.hpnumdoc}}</td>
  <td>{{hp.hppriape+' '+hp.hpsegape+' '+hp.hpprinom+' '+hp.hpsegnom}}</td>
    <td>{{hp.actAdm.acto}}</td>
    <td>{{hp.actAdm.fecha}}</td>
    <td><a class="btn btn-default" type="submit" href="/view#/healthprofessional/{{hp.hpid}}"><span class='glyphicon glyphicon-edit'></span></a><a class="btn btn-default" ng-click='openmodalRegisterActo(hp.hpid,1)'><span class='glyphicon glyphicon-list-alt'></span></a></td>
</tr>
</table>

<script type="text/ng-template" id="ModalRegisterActo.html">
    <div class="modal-header">
        <h3 class="modal-title">Registro de acto Administrativo</h3>
    </div>
    <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Numero del acto administrativo</label>
            <input type="text" class="form-control" ng-model="numActo" placeholder="ingrese solo numeros">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Fecha del acto administrativo</label>
            <input type="text" class="form-control" ng-model="fecActo" ng-change="fecActo=maskDate(fecActo,'-',[4,2,2],true)" placeholder="Escriba fecha en formato AAAMMMDD">
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button class="btn btn-primary" ng-click="ok()" >Guardar</button>
    </div>
</script>

<script type="text/ng-template" id="ModalGenerarPlano.html">
    <div class="modal-header">
        <h3 class="modal-title">Generar Archivo plano</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="fecIni">Fecha inicial</label>
                <input  id="fecIni" type="text" class="form-control" ng-model="fecIni" ng-change="fecIni=maskDate(fecIni,'-',[4,2,2],true)" placeholder="Escriba fecha en formato AAAMMMDD">
            </div>
            <div class="form-group">
                <label for="fecFin">Fecha final</label>
                <input id="fecFin" type="text" class="form-control" ng-model="fecFin" ng-change="fecFin=maskDate(fecFin,'-',[4,2,2],true)" placeholder="Escriba fecha en formato AAAMMMDD">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button class="btn btn-primary" ng-click="Generar()">Generar</button>
    </div>
</script>


 