<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="row">
            <div class="col-md-12"><br /></div>
            </div>
        <div class="row">
            <div class="col-md-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/adminaccess" ng-click="loadList()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
                    <li class="active"><a href="#/adminaccess" ng-click="shutdown()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
                </ul>
            </div>
            <div class="col-md-10">
                <accordion close-others="oneAtATime">
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Opciones de busqueda <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </accordion-heading>
                        <div class="row">
                            <div class="col-md-10">
                                <label class="label-control">Buscar por:</label>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-{{opSearch==1?'primary':'default'}}" ng-click="opSearch=1">nombre o documento</button>
                                    <button type="button" class="btn btn-{{opSearch==2?'primary':'default'}}" ng-click="opSearch=2">fecha de registro</button>
                                    <button type="button" class="btn btn-{{opSearch==3?'primary':'default'}}" ng-click="opSearch=3">fecha de acto</button>
                                    <button type="button" class="btn btn-{{opSearch==4?'primary':'default'}}" ng-click="opSearch=4">fecha de entrega de documentos</button>
                                </div>

                            </div>
                        </div>
                        <div class="row" ng-show="opSearch==1">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <label class="label-control">Escribe el nombre o el documento de la persona:</label>
                                    <input type="text" class="form-control" ng-model="valueToFind" placeholder="Escribe el nombre o documento de la persona">
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="findPerson(valueToFind)">Buscar</button>
                            </form>
                        </div>
                        <div class="row" ng-show="opSearch!=1">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <label class="label-control">Fecha inicio:</label>
                                    <input type="date" class="form-control" ng-model="dateini">
                                    <label class="label-control">Fecha final:</label>
                                    <input type="date" class="form-control" ng-model="dateend">
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="findByDate(dateini,dateend,opSearch)">Buscar</button>
                            </form>
                        </div>
                      
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                            </div>
                         </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label-control">Filtros:</label>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="label-control">Acto administrativo</label><br />
                                                <input type="radio" name="filtro" ng-click="filterList(ListProfessional,'wa')"> Con acto
                                                <input type="radio" name="filtro" ng-click="filterList(ListProfessional,'woa')"> Sin acto
                                            </div>
                                            <div class="col-md-5">
                                                <label class="label-control">Entrega de documentos</label><br />
                                                <input type="radio" name="filtro" ng-click="filterList(ListProfessional,'wd')"> Entregados
                                                <input type="radio" name="filtro" ng-click="filterList(ListProfessional,'wod')"> No entregados
                                                <input type="radio" name="filtro" ng-click="filterList(ListProfessional,'alld')" ng-checked="allRegistrerFilter"> Todos
                                            </div>
                                        </div>
                                        
                                        


                                    </div>
                                 </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                </div>
                              <div class="col-md-6">
                                  <div class="btn-group" role="group" aria-label="...">
                                      <button class="btn btn-default" type="button">
                                          Total de registros <span class="badge">{{ListProfessional.length}}</span>
                                      </button>
                                      <button ng-disabled="opSearch!=3?true:false" type="button" class="btn btn-success" aria-label="Left Align" ng-click='GenerateFileReport(dateini,dateend)'>
                                          <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Guardar en archivo plano
                                      </button>
                                  </div>
                            </div>
                        </div>
</accordion-group>
                </accordion>
            </div>
        </div>
       </div>
</nav>


    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <table class="table table-hover" >
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Fecha Registro</th>
            <th>Opciones</th>           
        </tr>
        <tr ng-repeat="hp in ListProfessional" class="{{hp.hpeactoadm==''?'warning':''}}" ng-show="hp.visible">
            <td>{{hp.hpnumdoc}}</td>
            <td>{{hp.hppriape+' '+hp.hpsegape+' '+hp.hpprinom+' '+hp.hpsegnom}}</td>
            <td>{{hp.hpefecha}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" title="ver o editar registro" type="submit" href="/view#/healthprofessional/{{hp.hpid}}"><span class='glyphicon glyphicon-pencil'></span></a>
                    <a class="btn btn-{{hp.hpeactoadm?'success':'default'}}" title="Guardar registro administrativo" ng-click='openmodal(hp.hpid,1,{date:hp.hpefecact,num:hp.hpeactoadm})'><span class='glyphicon glyphicon-tags'></span></a>
                    <a class="btn btn-{{documentRegister(hp.hpedocentregados)}}" title="entrega de documentos" ng-click='openmodal(hp.hpid,2,{docfecha:hp.hpefechaentrega,docobservacion:hp.hpobservacion,docentrega:hp.hpedocentregados})'><span class='glyphicon glyphicon-book'></span></a>
                    <a class="btn btn-default"  title="Generar certificado" ng-click='GetDataforCertificate(hp.hpid)'><span class='glyphicon glyphicon-file'></span></a>
                </div>
            </td>     
        </tr>
    </table>

    <script type="text/ng-template" id="ModalRegisterActo.html">
        <div class="modal-header">
            <h3 class="modal-title">Registro de acto Administrativo</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Numero del acto administrativo</label>
                    <input type="text" class="form-control" ng-model="numActo" placeholder="ingrese solo numeros">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Fecha del acto administrativo</label>
                    <input type="text" class="form-control" ng-model="fecActo" ng-change="fecActo=maskDate(fecActo,'-',[4,2,2],true)" placeholder="Escriba fecha en formato AAAMMMDD">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
            <button class="btn btn-primary" ng-click="ok()">Guardar</button>
        </div>
    </script>

    <script type="text/ng-template" id="ModalRecepcionDocumentos.html">
        <div class="modal-header">
            <h3 class="modal-title">Recepción de documentos</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="hpefechaentrega">Fecha de recepción</label>
                    <input id="hpefechaentrega" type="date" class="form-control" ng-model="hpefechaentrega">
                </div>
                <div class="form-group">
                    <label for="hpedocentregados">Documentos entregados completamente</label>
                    <input id="hpedocentregados" type="radio" name="hpedocentregados" ng-checked="hpedocentregados==true" value="true"  ng-click="hpedocentregados=true">Si
                    <input id="hpedocentregados" type="radio" name="hpedocentregados" ng-checked="hpedocentregados==false"  value="false" ng-click="hpedocentregados=false">No
                </div>
                <div class="form-group">
                    <label for="hpobservacion">Descripción</label>
                    <textarea id="hpobservacion" type="text" class="form-control" ng-model="hpobservacion" placeholder="Escriba que documento y observaciones sobre la entrega del documento"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
            <button class="btn btn-primary" ng-click="ok()">Guardar</button>
        </div>
    </script>
<script type="text/ng-template" id="ModalViewpdf.html">
    
    <div class="modal-header">
        <div class="text-center"><h3>Impresi&oacute;n de formato</h3> </div>
    </div>
    <div class="modal-body">
        
       
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <alert ng-repeat="alert in alerts" type='error' close="closeAlert($index)">{{alert.msg}}</alert>
                <div class="form-group">
                    <label>es profesional</label>
                    <input type="checkbox" ng-checked="hpeprof" ng-model="hpeprof" placeholder=" ejemplo: 2567">
                </div>
                <div class="form-group">
                    <label>N&uacute;mero de acta de grado</label>
                    <input type="text" class="form-control" ng-model="hpenumacta" placeholder=" ejemplo: 2567">
                </div>
                <div class="form-group">
                    <label>N&uacute;mero de libro del diploma</label>
                    <input type="text" class="form-control" ng-model="hpenumlibrodip" placeholder="ejemplo: 12">
                </div>
                <div class="form-group">
                    <label>N&uacute;mero de folio en el libro de diplomas universitario</label>
                    <input type="text" class="form-control" ng-model="hpefoliodip" placeholder=" ejemplo: 10 si no existe poner SN">
                </div>
                <div class="form-group" ng-show="hpeprof">
                    <label>n&uacute;mero de registro en el libro  de diplomas universitario</label>
                    <input type="text" class="form-control" ng-model="hpenumreguni" placeholder=" ejemplo: 09 si no existe poner SN">
                </div>
                <div class="form-group">
                    <label>Nombre del libro de registro</label>
                    <input type="text" class="form-control" ng-model="hpelibroreg" placeholder="ejemplo: ODONTOLOGOS">
                </div>
                <div class="form-group">
                    <label>n&uacute;mero de libro de registro</label>
                    <input type="text" class="form-control" ng-model="hpenumlibroreg" placeholder=" ejemplo: 07">
                </div>
                <div class="form-group">
                    <label>n&uacute;mero de folio en libro de registro</label>
                    <input type="text" class="form-control" ng-model="hpenumfolioreg" placeholder=" ejemplo: 23">
                </div>
                <div class="form-group">
                    <label>n&uacute;mero de registro en el libro</label>
                    <input type="text" class="form-control" ng-model="hpenumreg" placeholder=" ejemplo: 12345">
                </div>
                <div class="form-group" ng-show="dataperson.monthini">
                    <label> Lugar de servicio social obligatorio</label>
                    <input type="text" class="form-control" ng-model="hpelugarsso" placeholder=" ejemplo: LA EMPRESA SOCIAL DEL ESTADO GUAPI CAUCA">
                </div>                
            </div>
            <div class="col-md-1"></div>
        </div>
        </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button ng-click="SaveinPDF()" class="btn btn-success">Guardar Pdf</button>

    </div>
</script>

